{
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "trailingComma": "all",
  "jsxSingleAttributePerLine": false,
  "singleAttributePerLine": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
}
